

.section1 {
 
  height: 75%;
  background-size: cover;
  padding: 100px;
  background: lightblue;


}


.photo {
  width: 280px;
  border-radius: 50%;
  border: 2px solid gray;

}

.icon {
  color: black;
  padding: 30px;
  margin: 20px;
} 

.hr1 { 
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 10%;
    margin-right: 10%;
    border-style: inset #EDBEF0;
    border-width: 5px ;
   
} 

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  font-color: grey;
}

.section2 {
  height: 100%;  
  padding: 170px;
  background: azure;

}

.section3 {
  height: 100%;  
  padding: 160px;
  background: azure;
}

.img-project {
  width: 100%;
  height: 160px;
}
.section4 {
  height: 60%;
  padding: 160px; 
  background: azure;
}

p {
  font-size: 25px;
}

.touch {
  padding: 140px 50px 40px;
  margin: auto;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

body {
 
  background: white;

}

.wrapper {
 padding-left: 15%;
 padding-right: 15%;
  
}

.font {
  font-family: times new roman;
  font-style: italic;
}

