.section1 {
 
  height: 80%;
  
  background-size: cover;
  padding: 100px;
 
  /*background: #DAC7EA;*/
  background: #C5BFDA;


}


.photo {
  width: 280px;

  border-radius: 50%;

  border: 2px solid gray;

}

.icon {
  color: black;
   margin: 50px;
} 

.hr1 { 
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 10%;
    margin-right: 10%;
    border-style: inset #EDBEF0;
    border-width: 5px ;
   
} 

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  font-color: grey;
}

.section2 {
  height: 100%;
  
  padding: 170px;
  background: #D0C6E0;
  /*font-size: 25px;*/
}

.section3 {
  height: 100%;
  
  padding: 160px;
  background: #D0C6E0;
  /*font-size: 25px;*/
}

.img-project {
  display:block;
  width: 100%;
  height: auto;
}
.section4 {
  height: 100%;
  padding: 160px;
  background: #D0C6E0;
}

p {
  font-size: 25px;
}

.touch {
  padding: 170px;
  margin: auto;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   /*background-color: red;*/
   color: white;
   text-align: center;
}

body {
  /*background: #E0D3EA;*/
  background: #BAB3D1;
  


}

.wrapper {
 padding-left: 15%;
 padding-right: 15%;
 /*background: #CBBFDA;*/
  
}

.font {
  font-family: times new roman;
  font-style: italic;
}
